<ion-header>
  <ion-toolbar color="primary">
    <ion-title text-center>
      Portal KPMB
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dark-grey">
  <div class="ion-padding">
  	<ion-grid>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="primary" text-center routerLink="/staff-home" routerDirection="forward">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/teacher.png"/>					    	
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				   		Kakitangan
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="success" text-center routerLink="/student-home" routerDirection="forward">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/student.png"/>					    	
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Pelajar
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row text-center>
			<ion-button (click)="presentAlertConfirm()" class="exit-button" color="danger">Exit</ion-button>
	    </ion-row>
  	</ion-grid>
  </div>
</ion-content>
