<ion-header>
  <ion-toolbar color="primary">
	<ion-back-button slot="start" color="light" text=""></ion-back-button>
    <ion-title text-center>
      KAKITANGAN
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="dark-grey">
  <div class="ion-padding">
  	<ion-grid>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="warning" text-center (click)="openWithSystemBrowser('https://beranang.kpm.edu.my/')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/global-network.png"/>					    	
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Laman Web Rasmi KPMB
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="success" text-center (click)="openWithSystemBrowser('http://beranang.kpm.edu.my/cms/loginPenjaga.php')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/boss.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    CMS KPMB
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="tertiary" text-center (click)="openWithSystemBrowser('http://myintervensi.kpmb.my/myIntervensi/index.php')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/jainism.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    AIMS
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="light" text-center (click)="openWithSystemBrowser('http://beranang.kpm.edu.my/sars/')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/news-report.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    SARS
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="primary" text-center (click)="openWithSystemBrowser('https://teams.beranang.kpm.edu.my/login')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/team.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    TEAMS
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="tertiary" text-center (click)="openWithSystemBrowser('http://eboss.kpmb.my/Web/?')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/homework.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    E-Boss
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="light" text-center (click)="openWithSystemBrowser('http://beranang.kpm.edu.my/vfixit/')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/pliers.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    V-FIX
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="medium" text-center (click)="openWithSystemBrowser('http://gotna.mara.gov.my/staff')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/presentation.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Gotna
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="primary" text-center (click)="openWithSystemBrowser('https://hrmis2.eghrmis.gov.my/HRMISNET/Common/Main/Login.aspx')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/target.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    HRMIS
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="danger" text-center (click)="openWithSystemBrowser('https://online07.mara.gov.my/epenyata/')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/money-bag.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    E-Penyata
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
	    <ion-row>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="tertiary" text-center (click)="openWithSystemBrowser('https://beranang.kpm.edu.my/index.php/galeri-foto-dan-video')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/picture.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Album KPMB
				  </ion-card-content>
				</ion-card>	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="secondary" text-center (click)="openWithSystemBrowser('http://online06.mara.gov.my/erehat')">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/house.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Rumah Rehat
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    	<ion-col size="6">
	    		<ion-card class="card-border" color="light" text-center routerLink="/lect-room" routerDirection="forward">
	    			<ion-card-header class="card-header">
					    <ion-card-title class="fsr-3">
					    	<img class="mb-5" src="../assets/img/lecturer.png"/>
					    </ion-card-title>
					  </ion-card-header>
		    		<ion-card-content class="pt-0 inline-content">
				    Senarai Pensyarah
				  </ion-card-content>
				</ion-card>
	    	</ion-col>
	    </ion-row>
  	</ion-grid>
  </div>
</ion-content>
