.card-border {
	margin: 5px;
	height: 100%;
	padding-top: 10px;
}

.card-header {
	padding-bottom: 0;
}

.fsr-3{
	font-size: 3rem;
}

.pt-0{
	padding-top: 0;
}

.inline-content{
	display: inline-block;
}

ion-content{
	--ion-background-color: #92d0f3;
}

ion-toolbar{
	--ion-background-color: #92d0f3;
}
.mb-5{
	margin-bottom: 0.5rem;
}